* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAFC;
}

.row {
    display: flex;
    justify-content: flex-start;
}

.hide {
    display: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.active {
    color: #000;
}

.main-bg {
    background-color: #606060;
}

/* header */
.logo-wrapped {
    width: 10%;
}

.logo-wrapped a img {
    width: 100%;
}

.form-display {
    margin: 0 auto !important;
    text-align: center;
    text-transform: capitalize;
}

.container-fluid {
    align-items: flex-end !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 0 15px 0 auto !important;
}

.nav-link {
    padding: 0.2rem 1rem;
}

.navbar-expand-lg {
    align-items: baseline;
    margin-bottom: 2rem;
}

.nav-links-wrapped {
    align-items: end;
}

.navbar-brand {
    padding-bottom: 0;
}

.search-wrapped {
    display: flex;
    flex-direction: column;
}

.searchbar-wrapped {
    display: flex;
    flex-direction: row;
}

.input-group-text, .blck-border {
    border: 1px solid #000;
}

.navbar-nav {
    margin-right: 0 !important;
}

/* header end  */

/* post */

.post-width {
    width: 33.3333333333%;
}



.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}


.card {
    border: none;
    background-color: transparent;
    min-height: 70vh;
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 5px 10px 18px #000;
}

.card-body {
    background: #fff;
}

.image-container {
    position: relative;
    background: #fff;
    padding: 0px;
    display: flex;
    min-height: 15rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border: 0.5px solid #000;
    max-height: 15rem;
    overflow: hidden;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 8vh;
}

.image-creator {
    min-width: 30%;
    font-size: 1rem;
    display: inline-flex;
    align-items: baseline;
}

.image-creator h2 {
    font-size: 1rem;
}

.author {
    color: black;
    margin: 4px;
    text-transform: uppercase;
    font-weight: 600;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favourites {
    margin-left: 10px;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.page-link {
    color: #606060;
    transition: all 0.5s;
}

.page-link:hover {
    color: #000;
}

.registration-containers {
    background: #eee;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #000;
}

.generic-signin-form {
    margin-bottom: 1rem;
}

.registration-links {
    color: #da6720;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.5s;
}

.registration-links:hover {
    color: #f97228;
}

.small-link {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.small-link:hover {
    color: #000;
}

.sign-up-btn {
    background: #da6720; 
    margin-bottom: 0.5rem;
    transition: all 0.5s;
}

.sign-up-btn:hover {
    background: #f97228;
}

.go-back-btn {
    color: #000;
    font-size: 15px;
    text-decoration: none;
}

.go-back-btn:hover {
    color: #000;
}

@media (max-width: 990px) {

    .post-width {
        width: 50%;
    }

    .form-display {
        text-align: left;
    }

    .navbar-collapse {
        text-align: center;
    }

    .hide {
        display: block;
    }

    .show-search {
        display: none;
    }

    .container-fluid {
        align-items: center !important;
    }
}

@media (max-width: 700px) {
    .row {
        justify-content: center;
    }

    .post-width {
        width: 65%;
    }
}
