* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #282c33;
}

/* header */
.navbar {
    background: #21252b;
}

.navbar-brand {
    max-width: max-content;
}

.navbar-brand img {
    width: 30%;
}

/* topics */
.topics-container {
    background: #333841;
    margin: 3rem 1rem 3rem 0;
    padding: 1rem;
}