<div>
    {% for chatroom in chatrooms %}
    <div>
        {% if request.user == chatroom.roomhost %}
        <a href="{% url 'update-chatroom' chatroom.id %}">Edit</a>
        <a href="{% url 'delete-chatroom' chatroom.id %}">Delete</a>
        {% endif %}
        <span>@{{chatroom.roomhost.username}}</span>
        <h5>{{chatroom.id}} -- <a href="{% url 'chatroom' chatroom.id %}">{{chatroom.roomname}}</a></h5>
        <small>{{chatroom.topic.name}}</small>
        <hr>
    </div>
    {% endfor %}
</div>