{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Post Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4 post-width">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="img-card-center">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/dmegr1g6f/image/upload/v1665741283/no-image-found_paytvu.png">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <div class="card-text">
                                <div class="image-creator">
                                    <p class="author">{{ post.author }}</p>
                                    <h2 class="card-title">{{ post.title }}</h2>
                                </div>
                                <div class="image-content-p">
                                    <p class="card-content">{{ post.content }}</p>
                                </div>
                            </div>    
                            </a>
                            <hr />
                            <div class="card-info">
                                <p class="text-muted h6">{{ post.created_on }}</p>
                                <div class="buttons-wrapped">
                                    <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
                                    <strong class="text-secondary"><i class="far fa-heart favourites"></i> Favourite {{ post.post_faves }} </strong>
                                </div>
                                
                            </div>
                            <div class="col-1">
                                {% with comments.count as total_comments %}
                                <strong class="text-secondary"><i class="far fa-comments"></i>
                                    <!-- Our total_comments variable goes before the closing strong tag -->
                                    {{ total_comments }}</strong>
                                {% endwith %}
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>

            <div class="col-1">
                <!-- The number of likes goes before the closing strong tag -->
                
            </div>
            
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}